# --- macOS System Files ---
.DS_Store
.AppleDouble
.LSOverride

# --- Python ---
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
.Python
.env
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
pip-log.txt
pip-delete-this-directory.txt
pyvenv.cfg

# --- Flask ---
instance/
*.sqlite
*.db
*.log

# --- Node / React ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js


# --- IDEs / Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs ---
*.log

# --- Other ---
coverage/
htmlcov/
*.cover
.cache/


# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
